<div class="home-container">
  <div class="logo-container">
    <img src="assets/hogwarts.png" alt="Hogwarts Crest" class="crest">
  </div>
  <div class="content-container">
    <h1>Wizards & Wands</h1>
    <h2>¡Bienvenidos a la Enciclopedia de Harry Potter!</h2>
    <p>Sumérgete en el fascinante mundo de Harry Potter con nuestra aplicación, tu guía definitiva al universo mágico creado por J.K. Rowling. Nuestra enciclopedia es el recurso perfecto para todos los fanáticos de la saga, desde los nuevos exploradores de Hogwarts hasta los magos más experimentados.</p>
    <div class="buttons">
      <button routerLink="/login" class="btn">Sign in</button>
      <button routerLink="/register" class="btn">Sign up</button>
    </div>
  </div>
</div>
